<!-- <ul>
    <li *ngFor="let gif of resultados">
        {{gif.title}}
    </li>
</ul> -->

<div class="row">
    <div class="col-6" *ngFor="let gifs of resultados">
    
        <div class="card">
            <div class="card-body">
                <!-- Los [] Nos sirven para asignarle el valor de una variable a una etiqueta HTML -->
                <img [src]="gifs.images.downsized_medium.url" alt="titulo" class="card-img-top">
                <p class="card-text">
                    {{gifs.title}}
                    <!-- {{gifs.images.downsized_medium.url}} -->

                </p>
            </div>
        </div>
    
    </div>
</div>
